.animate-slow-bounce {
  animation: slowbounce 3s infinite ease-out;
}

@keyframes slowbounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@media screen and (max-width: 600px) {
  .mob-box-1 {
    @apply h-10  w-10 relative -top-16 left-1 hidden;
  }
  .mob-box-2 {
    @apply h-10  w-10 relative  right-4 hidden;
  }
}
